@charset "utf-8";

/*css reset 외우기*/
*{margin:0; padding:0;}
ul,ol,li{list-style:none;}
a:link, a:visited, a:hover, a:active{
	color:#666; /*문제에서 주어진 기본 텍스트 컬러*/
	text-decoration:none;
}

body{
	color:#666;
	font-size:16px;
	background-color:#FFF;
}

#wrap{
	width:1200px;
	height:1200px;
	margin:0 auto;
}




/*A영역*/

header{
	position:relative;
	height:200px;
}

	/*로고*/

header>h1{
	position:absolute;
	left:0;
	top:50px;
	width:241px;
}
header>h1>a{
	display:block; 
	height:100px;
	text-indent:-9999px;
	background-image:url(../images/logo.png);
}

	/*메인메뉴*/
header>nav{
	position:absolute;
	right:0;
	top:100px;
	z-index:100;
}

header>nav>.gnb{
	width:900px;
	*zoom:1;
}
header>nav>.gnb{display:block; clear:both; content:'';}

header>nav>.gnb>li{
	float:left;
	width:180px; /*전체폭에 따라 알아서 수치배분*/
}
header>nav>.gnb>li>a{
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
}
header>nav>.gnb>li.on>a,
header>nav>.gnb>li:hover>a{
	color:#fff;
	background-color:#009688;	
}

header>nav>.gnb>li>.submenu{
	display:none;
	width:180px;
	background-color:rgba(255, 255, 255, 0.9);
}

header>nav>.gnb>li>.submenu>li>a{
	display:block;
	height:50px;
	line-height:50px;
	text-align:center;
}

header>nav>.gnb>li>.submenu>li:hover>a{
	color:#fff;
	background-color:rgba(106,106,106,0.9);
}

/* B영역 */

section{
	position:relative;
	width:1200px;/*명시적으로 써주기*/
	height:350px;
}

	/*메인배너*/
section>.slides-container>li{
	position:absolute;
	left:0;
	top:0;
	width:1200px;
	height:350px;
	text-indent:-9999px;

}

section>.slides-container>li:nth-child(1){background-image:url(../images/mainbanr_1.png);}
section>.slides-container>li:nth-child(2){display:none; background-image:url(../images/mainbanr_2.png);}
section>.slides-container>li:nth-child(3){display:none; background-image:url(../images/mainbanr_3.png);}

	/* 메인베너 위에 떠있는 이미지 3컷 처리*/
section>div{
	position:absolute;
	left:50%;
	bottom:10px;
	width:500px;/*계산하여 명시적으로 써주기*/
	margin-left:-250px;
	opacity:0.6;
	*zoom:1;
}
section>div:after{display:block; clear:both; content:'';}

section>div>p{
	float:left;
	width:150px;
	height:100px;
	text-indent:-9999px;
}
section>div>p.story_1{margin-right:25px; background-image:url(../images/story_1.png);}
section>div>p.story_2{margin-right:25px; background-image:url(../images/story_2.png);}
section>div>p.story_3{background-image:url(../images/story_3.png);}


/* C영역 */
article{
	height:325px;
	*zoom:1;
}
article:after{display:block; clear:both; content:'';}

article>div.notice,
article>div.new1,
article>div.new2{
	margin-top:25px;
}

article>div>h2{
	height:50px;
	line-height:50px;
	text-align:center;
}
	/*공지사항*/
article>.notice{
	float:left;
	width:490px;
	height:300px;
	margin-right:10px;
}

article>.notice>table{
	width:100%;
	font-size:14px;
	border-top:1px solid #666;
	border-collapse:collapse; /*테이블 전용 속성*/
}
article>.notice>table tr:nth-child(even){background-color:rgba(0,255,0,0.5);} /*even 짝수 odd 홀수*/
article>.notice>table tr>th{
	line-height:35px;
}
article>.notice>table tr>td{
	line-height:27px;
}

article>.notice>table tr>td:nth-child(odd){
	text-indent:20px;
}

	/*뉴스*/
article>.new1{
	float:left;
	width:345px;
	height:300px;
	margin-right:10px;
}

article>.new1>p{
	height:225px;
	text-indent:-9999px;
	background-image:url(../images/news_1.png);
	background-position:center 30%;
	background-size:cover;
}

article>.new2{
	float:left;
	width:345px;
	height:300px;
}
article>.new2>p{
	height:225px;
	text-indent:-9999px;
	background-image:url(../images/news_2.png);
	background-position:center 30%;
	background-size:cover;
	cursor:pointer;
}

	/*팝업창*/
article>.popup{
	/*그림자 역할*/
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
	z-index:1000;
}
article>.popup>p{
	/*실제내용박스*/
	position:fixed;
	left:50%;
	top:50%;
	width:500px;
	height:500px;
	margin:-250px 0 0 -250px;
	text-indent:-9999px;
	background-color:#FFF;
	background-image:url(../images/popup.png);
	background-position:center 40%;
	background-repeat:no-repeat;
	border:1px solid gray;
}
article>.popup>p>.clse{
	/*닫기기능*/
	position:absolute;
	left:50%;
	bottom:50px;
	width:100px;
	height:35px;
	margin-left:-50px;
	border-radius:3px;
}

/*D영역*/

footer{
	position:relative;
	height:150px;
	border-top:1px solid #666;
	box-sizing:border-box;
}

footer>a.logo{
	display:block;
	position:absolute;
	left:40px;
	top:25px;
	width:241px;
	height:100px;
	text-indent:-9999px;
	background-image:url(../images/logo_gray.png);
}

footer>div{
	position:absolute;
	left:360px;
	top:40px;
}

footer>div>ul{*zoom:1;}

footer>div>ul:after{
	display:block;
	clear:both;
	content:'';
}

footer>div>ul>li{
	float:left;
	margin-right:30px;
}

footer>div>ul>li>a{
	line-height:25px;
}

footer>div>p{
	line-height:30px;
}

/* sns 아이콘 */

footer>.sns{
	position:absolute;
	right:30px;
	top:40px;
	*zoom:1;
}
footer>.sns:after{
	display:block;
	clear:both;
	content:'';
}
footer>.sns>li{
	float:left;
	width:70px;
	border-radius:35px;
	background-size:cover;
	transition:all 0.5s;
}


footer>.sns>li.facebook{margin-right:10px; background-image:url(../images/facebook_gray.png);}
footer>.sns>li.twitter{margin-right:10px; background-image:url(../images/twitter_gray.png);}
footer>.sns>li.google{background-image:url(../images/google_gray.png);}

footer>.sns>li.facebook:hover{background-image:url(../images/facebook.png);}
footer>.sns>li.twitter:hover{background-image:url(../images/twitter.png);}
footer>.sns>li.google:hover{background-image:url(../images/google.png);}



footer>.sns>li>a{
	display:block;
	height:70px;
	text-indent:-9999px;
}
