@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

a:link,a:visited,a:hover,a:active{
	color:#000;
	text-decoration: none;
}

header,section,footer,.box{
	 /* outline:1px solid red;  */
}

/*header*/

header{
	position:relative;
	height:80px;
}

header>h1{
	overflow:hidden;
	position:absolute;
	top:20px;
	left:350px;
}
header>h1>a{
	display:block;
	width:75px;
	height:33px;
	background-image:url(../images/chevrolet/new_gnb_icon.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
	
}

header>nav{
	position:absolute;
	top:0;
	left:50%;
	width:800px;
	height:80px;
	margin-left:-400px;
}
header>nav>.gnb{
	width:100%;
	height:100%;
	*zoom:1;
}
header>nav>.gnb:after{
	display:block; clear:both; content:"";
}
header>nav>.gnb>li{
	float:left;
	width:160px;
	height:80px;
	
}
header>nav>.gnb>li>a{
	display:block;
	width:160px;
	height:80px;
	line-height:80px;
	text-align:center;
}

header>h2{
	position:absolute;
	top:30px;
	right:220px;
	font-size:15px;
	
}

/*모바일*/
header>.mobile{
	display:none;
}



/*section*/
section>.boxs{
	font-family: 'Nanum Gothic', sans-serif;
	*zoom:1;

}
section>.boxs:after{
	display:block; clear:both; content:"";
}

/* article{ */
	/* text-indent:-9999px; */
/* } */

	/*box1*/
#box1{
	position:relative;
	float:left;
	width:25%;
	height:498px;
	text-indent:-9999px;
	background-image:url(../images/chevrolet/visual_bimos_small.jpg);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}
#box1>.btn_view{
	position:absolute;
	top:300px;
	left:90px;
	width:132px;
	height:40px;
}
#box1>.btn_view>a{
	display:block;
	width:132px;
	height:40px;
	line-height:40px;
	text-align:center;
}


	/*box2*/
#box2{
	overflow:hidden;
	position:relative;
	float:left;
	width:50%;
	height:498px;
}
#box2>.slides-container{
	width:100%;
}

#box2>.slides-container>.slide{
	position:absolute;
	left:0;
	top:0;
	width:300%;
	*zoom:1;
}
#box2>.slides-container>.slide:after{
	display:block; clear:both; content:"";
}
#box2>.slides-container>.slide>li{
	float:left;
	width:33.3333%;
	height:498px;
	text-indent:-9999px;
}


#box2>.slides-container>.slide>li:nth-child(1){
	background-image:url(../images/chevrolet/visual_retail.jpg);
	background-position:-80px 0; 
	background-size:cover;
	background-repeat:no-repeat;
}

#box2>.slides-container>.slide>li:nth-child(2){
	background-image:url(../images/chevrolet/visual_the_new_trax_m.jpg);
	background-position:-80px 0; 
	background-size:cover;
	background-repeat:no-repeat;
}

#box2>.slides-container>.slide>li:nth-child(3){
	background-image:url(../images/chevrolet/visual_the_next_spark_m.jpg);
	background-position:-80px 0; 
	background-size:cover;
	background-repeat:no-repeat;
}


#box2>.slides-container>.slide>li:nth-child(1)>.btn_view{
	position:absolute;
	top:225px;
	left:70px;
	width:132px;
	height:40px;
}

#box2>.slides-container>.slide>li .btn_view>ul{
	width:250px;
	height:40px;
	*zoom:1;
}

#box2>.slides-container>.slide>li .btn_view>ul:after{
	display:block; clear:both; content:"";
}

#box2>.slides-container>.slide>li .btn_view>ul>li{
	float:left;
	width:120px;
	height:40px;
	margin-right:5px;
}

#box2>.slides-container>.slide>li .btn_view>ul>li:last-child{
	margin-right:0;
}

#box2>.slides-container>.slide>li .btn_view>ul>li>a{
	display:block;
	width:120px;
	height:40px;
	line-height:40px;
	text-align:center;
}





#box3{
	position:relative;
	float:right;
	width:25%;
	height:996px;
	
}

#box3>.sitemap_wrap{
	position:absolute;
	left:100px;
	width:76%;
}

/*★여기부터!!*/
#box3>.sitemap_wrap>ul>.sm_depth1{
	margin:15px 0;
}

#box3>.sitemap_wrap>ul>.sm_depth1>ul{
	text-indent:120px;
}

#box3>.sitemap_wrap>ul>.sm_depth1>.pdb_10{
	padding-bottom:10px;
	color:#000;
}

#box3>.sitemap_wrap>ul>.sm_depth1>ul>li{
	margin-bottom:3px;
}



#box4,#box5,#box6{
	float:right;
	width:25%;
	height:498px;
}

	/*box4*/
#box4{
	overflow:hidden;
	position:relative;
	background-color:rgba(0,0,0,0.8);
}
#box4>.box_img{
	position:absolute;
	top:50%;
	width:100%;
	height:50%;
	text-indent:-9999px;
	background-image:url(../images/chevrolet/img_spark.jpg);
	background-size:cover;
	background-position:-240px 0;
	background-repeat:no-repeat;
	/* filter: grayscale(100%); */
}

#box4:hover>.box_img{
	background-size:900px;
	background-position:-330px -20px;
}

#box4>.tri{
	width:0;
	height:30px;
	background-color:#f2b218;
	transition: width 0.5s;
}

#box4:hover>.tri{
	width:100%;
}

#box4>h2{
	position:absolute;
	top:70px;
	left:30px;
	width:100%;
	height:200px;
}
#box4>h2>a{
	display:block;
	width:100%;
	height:200px;
	font-size:20px;
	line-height:40px;
	color:#eee;
}
#box4>h2>a>span{
	font-size:30px;
}





	/*box5*/
#box5{
	overflow:hidden;
	position:relative;
	background-color:rgba(0,0,0,0.8);
}	
	
#box5>.box_img{
	position:absolute;
	top:50%;
	width:100%;
	height:50%;
	text-indent:-9999px;
	background-image:url(../images/chevrolet/img_orlando.jpg);
	background-size:cover;
	background-position:-200px 0;	
	background-repeat:no-repeat;
	
}

#box5:hover>.box_img{
	background-size:900px;
	background-position:-280px -20px;
}

#box5>.tri{
	width:0;
	height:30px;
	background-color:#f2b218;
	transition: width 0.5s;
}

#box5:hover>.tri{
	width:100%;
}

#box5>h2{
	position:absolute;
	top:70px;
	left:30px;
	width:100%;
	height:200px;
	
}
#box5>h2>a{
	display:block;
	width:100%;
	height:200px;
	color:#eee;
	font-size:20px;
	line-height:40px;
}
#box5>h2>a>span{
	font-size:30px;
}



	/*box6*/
#box6{
	overflow:hidden;
	position:relative;
	background-color:rgba(0,0,0,0.8);
}

#box6>.box_img{
	position:absolute;
	top:50%;
	width:100%;
	height:50%;
	text-indent:-9999px;
	background-image:url(../images/chevrolet/img_captiva.jpg);
	background-size:cover;
	background-position:-240px 0;	
	background-repeat:no-repeat;
	
}

#box6:hover>.box_img{
	background-size:900px;
	background-position:-330px -20px;
}

#box6>.tri{
	width:0;
	height:30px;
	background-color:#f2b218;
	transition: width 0.5s;
}

#box6:hover>.tri{
	width:100%;
}

#box6>h2{
	position:absolute;
	top:70px;
	left:30px;
	width:100%;
	height:200px;
	
}
#box6>h2>a{
	display:block;
	width:100%;
	height:200px;
	color:#eee;
	font-size:20px;
	line-height:40px;
}
#box6>h2>a>span{
	font-size:30px;
}




/*
section>.boxs>#box4{
	float:left;
	width:33.3%;
	height:100%px;
}
*/

/*footer*/
footer{
	width:100%;
	height:100px;
}
 
	/*공통부분*/
.footer_logo, .footer_con, .footer_sns{
	position:relative;
	float:left;
	width:33.3%;
	height:100px;
}


	/*logo*/
footer>.footer_logo{
	/*position:relative; 공통부분으로 모았음*/ 
}
footer>.footer_logo>h3{
	position:absolute;
	top:40px;
	left:50%;
	margin-left:-90px;
}
footer>.footer_logo>h3>a{
	display:block;
	width:181px;
	height:17px;
	background-image:url(../images/chevrolet/footer_text.png);
	background-repeat:no-repeat;
	text-indent:-9999px;
}



	/*con*/
footer>.footer_con{
	/*position:relative; 공통부분으로 모았음*/ 
}

footer>.footer_con>.con_wrap{
	position:absolute;
	top:40px;
	left:50%;
	margin-left:-250px;
}

footer>.footer_con>.con_wrap>ul{
	width:100%;
	margin-bottom:5px;
	*zoom:1;
}
footer>.footer_con>.con_wrap>ul:after{
	display:block; clear:both; content:"";
}
footer>.footer_con>.con_wrap>ul>li{
	float:left;
	height:20px;
	margin-right:25px;
}
footer>.footer_con>.con_wrap>ul>li:last-child{
	margin-right:0;
}
footer>.footer_con>.con_wrap>ul>li>a{
	display:block;
	height:40px;
	text-align:center;
}
footer>.footer_con>.con_wrap>p{
	height:20px;
}


	/*sns*/
footer>.footer_sns{
	/*position:relative; 공통부분으로 모았음*/ 
}

footer>.footer_sns>.sns_wrap{
	position:absolute;
	top:40px;
	left:50%;
	width:50%;
	margin-left:-150px;
}

footer>.footer_sns>.sns_wrap>h4{
	display:block;
	float:left;
	height:25px;
	line-height:25px;
	margin-right:5px;
}
footer>.footer_sns>.sns_wrap>ul{
	*zoom:1;
}
footer>.footer_sns>.sns_wrap>ul:after{
	display:block; clear:both; content:"";
}
footer>.footer_sns>.sns_wrap>ul>li{
	float:left;
}
footer>.footer_sns>.sns_wrap>ul>li>a{
	display:block;
	height:25px;
	margin-right:7px;
	background-image:url(../images/chevrolet/sp_layout.png);
	text-indent:-9999px;
}

footer>.footer_sns>.sns_wrap>ul>li>a.btn_fb{
	width:24px;
	background-position:-2px -62px;
}
footer>.footer_sns>.sns_wrap>ul>li>a.btn_tw{
	width:24px;
	background-position:-28px -62px;
}
footer>.footer_sns>.sns_wrap>ul>li>a.btn_yt{
	width:24px;
	background-position:-54px -62px;
}
footer>.footer_sns>.sns_wrap>ul>li>a.btn_blog{
	width:24px;
	background-position:-80px -62px;
}
footer>.footer_sns>.sns_wrap>ul>li>a.btn_insta{
	width:24px;
	background-position:-83px -208px;
}


/*미디어 쿼리*/
@media screen and (min-width:1080px) and (max-width:1600px){

	header>h1{
		overflow:hidden;
		position:absolute;
		top:20px;
		left:80px;
	}	
	
	header>h2{
		position:absolute;
		top:30px;
		right:100px;
		font-size:15px;
	
	}

	header>nav{
		
	}
	header>nav>.gnb{
		
	}
	header>nav>.gnb:after{
		
	}
	
	header>nav>.gnb>li{
	float:left;
	width:130px;
	height:80px;
	
	}
	header>nav>.gnb>li>a{
		display:block;
		width:130px;
		height:80px;
		line-height:80px;
		text-align:center;
	}


	/*section*/
	section>.boxs{
		
	}
	
	/*
	section>.boxs>.box{
		width:50%;
		height:500px;
	}*/
	
	#box1{
	width:100%;
	/* height:480px; */
	background-image:url(../images/chevrolet/visual_bimos.jpg);
	background-position:0 0;
	}
	
	#box2{
	width:100%;
	height:498px;
	background-image:url(../images/chevrolet/visual_retail.jpg);
	background-position:0 0;
	
	}
	
	#box3{
		position:relative;
		width:100%;
		height:498px;
		
	}
	
	#box3>.sitemap_wrap{
		position:absolute;
		top:30px;
		left:30px;
		width:95%;
	}
	#box3>.sitemap_wrap>ul{
		*zoom:1;
	}
	#box3>.sitemap_wrap>ul:after{
		display:block; clear:both; contant:"";
	}
	
	#box3>.sitemap_wrap>ul>.sm_depth1{
		float:left;
		margin:0 0;
	}

	#box3>.sitemap_wrap>ul>.sm_depth1>ul{
		padding-right:50px;
		text-indent:0;
	}

	#box3>.sitemap_wrap>ul>.sm_depth1>.pdb_10{
		padding-bottom:10px;
		color:#000;
	}

	#box3>.sitemap_wrap>ul>.sm_depth1>ul>li{
		margin-top:8px;
	}

	#box3>.sitemap_wrap>ul>.sm_depth1>ul>li>a{
		font-size:16px;
	}

		

		
	#box4,#box5,#box6{
		width:33.3333%;
		height:498px;
	}
	
	
	
	/*footer*/
	footer{}
	.footer_logo,.footer_con,.footer_sns{
		width:100%;
	}


}


@media screen and (max-width:1079px){

	/*pc 네비게이션*/
	header{
		position:relative;
		background-color:#FFF;
	}
		
	header>h1{
		overflow:hidden;
		position:absolute;
		top:20px;
		left:200px;
	}	
		
	header>nav>.gnb{
		display:none;
	}
	
	/*모바일 네비게이션*/
	/*
	header>.mobile{
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		display:block;
		background-color:#aaa;
	}*/
	
	header>.mobile{
		display:block;
	}
	
	
	/*맨위로 가는 버튼*/
	header>.mobile>.top{
		position:fixed;
		right:10px;
		bottom:50px;
		width:50px;
		height:50px;
		background-color:#FFF;
		border-radius:10px;
		cursor:pointer;
		z-index:3000;
	}
	header>.mobile>.top>i{
		display:block;
		width:50px;
		height:50px;
		line-height:50px;
		font-size:50px;
		text-align:center;
	}
	
	
	header>.mobile>.btn{
		position:fixed;
		top:10px;
		right:10px;
		width:50px;
		height:50px;
		padding:5px;
		background-color:#FFF;
		border-radius:10px;
		z-index:3000;
		cursor:pointer;
	}
	header>.mobile>.btn>i{
		display:block;
		width:50px;
		height:50px;
		font-size:50px;
		text-align:center;
	}
	
	
	/*클릭 전*/
	header>.mobile>nav{
		display:none;
	}
	
	
		/*메뉴버튼 클릭 시*/
	header>.mobile>.btn>.fa-times{
		display:none;
		position:absolute;
		top:10;
		width:50px;
		height:50px;
		font-size:50px;
		text-align:center;
	}


		
	header>.mobile>nav.on{
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:100%;
		background-color:#ddd;
		z-index:2000;
	}
	
	header>.mobile>nav.on>.m_gnb{
		position:absolute;
		top:200px;
		left:50%;
		margin-left:-120px;
	}
	
	header>.mobile>nav.on>.m_gnb>li{
		width:100%;
		line-height:120px;
		
	}

	
	header>.mobile>nav.on>.m_gnb>li>a{
		display:block;
		width:100%;
		font-size:40px;
		text-align:center;
	}


	
	/*section*/
	section>.boxs{
		
	}
	
	section>.boxs>.box{
		width:100%;
		height:480px;
	}
	
	
	#box1,#box2,#box3,#box4,#box5,#box6{
		width:100%;
		height:480px;
	}
	
	#box1{
		background-image:url(../images/chevrolet/visual_bimos.jpg);
		background-position:-80px 0;
	}
	
	
	#box1>.btn_view{
	position:absolute;
	top:170px;
	left:60px;
	}

	
	
	
	
	#box2{
		background-image:url(../images/chevrolet/visual_retail.jpg);
		background-position:-80px 0;
	}
	
	
	#box2>.slides-container>.btn_view{
		position:absolute;
		top:210px;
		left:60px;
	}	
	
	#box3{
		position:relative;
		width:100%;
		height:700px;
		
	}
	
	#box3>.sitemap_wrap{
		position:absolute;
		top:20px;
		left:30px;
		width:94%;
	}

	#box3>.sitemap_wrap>ul{
		*zoom:1;
	}
	
	#box3>.sitemap_wrap>ul:after{
	display:block; clear:both; contant:"";
	}
		
	#box3>.sitemap_wrap>ul>.sm_depth1{
		float:left;
	}
	#box3>.sitemap_wrap>ul>.sm_depth1>ul{
		padding-right:80px;
		text-indent:0;
	}
	#box3>.sitemap_wrap>ul>.sm_depth1>ul>li{
		margin-top:8px;
	}
	#box3>.sitemap_wrap>ul>.sm_depth1>ul>li>a{
		font-size:16px;
	}
	
	/*box4*/
		
	#box4{
		
	}
	#box4>.tri{
		width:20px;
		height:100%;
	}

	#box4:hover>.tri{
		width:20px;
	}


	#box4>.box_img{
		background-size:130%;
		background-position:-220px -40px;

	}

	#box4:hover>.box_img{
		background-size:130%;
		background-position:-220px -40px;
	}





		/*box5*/
	#box5{

	}	

	#box5>.tri{
		width:20px;
		height:100%;
	}

	#box5:hover>.tri{
		width:20px;
	}
		
	#box5>.box_img{
		background-size:130%;
		background-position:-220px -40px;
		
	}

	#box5:hover>.box_img{
		background-size:130%;
		background-position:-220px -40px;
	}





		/*box6*/
	#box6{
		
	}

	#box6>.tri{
		width:20px;
		height:100%;
	}
	#box6:hover>.tri{
		width:20px;
	}


	#box6>.box_img{
		background-size:130%;
		background-position:-220px -40px;
		
	}


	#box6:hover>.box_img{
		background-size:130%;
		background-position:-220px -40px;
	}


	
	/*footer*/
	footer{}
	.footer_logo,.footer_con,.footer_sns{
		width:100%;
	}

}






