@charset "utf-8";

#wrap{
	width:600px;
	margin:0 auto;
}

header{
	width:600px;
	height:100px;
	background-color:#006699;
	line-height:100px;
}

header>h1{
	
	float:left;
	margin:0 25px;
	color:#FFF;
	font-weight:800;
	font-size:30px;
	
	
}

header>ul{

	*zoom:1;
}

header>ul:after{
	display:block;
	clear:both;
	content:'';
	
}

header>ul>li{
	margin-right:20px;
	float:left;
	color: #fff;
	font-weight:600;
	font-size:16px;
}


header>ul>li:nth-child(3){
	color: #ff0;
	
}



.container{
	
	background-color:#333;
	padding:5px;
}

.container>section{
	width:570px;
	margin:0 auto;
	padding:10px 10px;
	background-color:#FFF;
	
}

.container>section>h2{
	color:#000;
	font-weight:700;
	font-size:25px;
	padding:20px 0 20px 10px;
}

.container>section>p{
	
	margin: 0 10px;
	font-size:14px;
	line-height:1.5;
	
}

.container>section>p>img{
	float:right;
	width:300px;
	margin:0 10px;
	box-shadow: 5px 5px 5px grey;
}

.container>footer{
	width:600px;
	height:80px;
}


.container>footer>p{
	
	color:#fff;
	font-size:16px;
	line-height:80px;
	text-align:center;
}


















